.header_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 96%;
  height: 36px;

  padding: 0 12px;

  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  z-index: 99;

  max-width: 480px;
  margin: 0 auto;

  transition: 0.3s;
}

.backgroundLayer {
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  width: 96%;
  height: 36px;
  background-color: #4e4e4e;
  z-index: 9;

  max-width: 450px;
  margin: 0 auto;
}

.headerLogo {
  width: 92px;
  height: 20px;

  cursor: pointer;

  transition: 0.3s;
}

.headerLogo svg {
  fill: #fff;
}

.icon_box {
  display: flex;
  gap: 8px;
}

.icon {
  width: 20px;
  height: 20px;

  cursor: pointer;

  transition: 0.3s;
}

.icon svg {
  fill: #fff;
}
